@charset "utf-8";
body{
  color: #333333;
}
a{
  text-decoration: none;
  color: #333333;
}

img{
  max-width: 100%;
}
/* header */
header{
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

header h1{
  font-size: 25px;
}

header nav ul{
  list-style-type: none;
}

header .navigation{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
}

header nav ul{
  display: flex;
}

header nav ul li{
  padding-left: 10px;
  font-size: 12px;
}

/* main */
.contain{
  display: flex;
  max-width: 960px;
  justify-content: center;
  margin: 50px auto 150px;
}

.img{
  max-width: 400px;
  max-height: 500px;
}

.img img{
  width: 100%;
}
.iteminf{
  margin-left: 100px;
  text-align: center;

}
.iteminf h2{
  font-size: 15px;
  text-align: center;
  border-top: 1px solid rgb(68, 50, 50);
  border-bottom: 1px solid #333;
  padding-top: 10px;
  padding-bottom: 10px;
}
.iteminf p{
  text-align-last: left;
  font-size: 12px;
}

.quantity{
  margin-bottom: 50px;
}
.shirtinf{
  margin-bottom: 20px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
table tr td{
  padding: 10px;
  font-size: 12px;
  text-align: center;
}


table tr th.color{
  width: 20%;
}

table tr th.size{
  width: 20%;
}

table tr th.quantity{
  width: 60%;
}

table tr td select{
  width: 100%;
}

.quantity table{
  margin-bottom: 50px;
}
.quantity table tr th{
  font-weight: normal;
  font-size: 12px;
  padding: 10px;
  border-right: 1px solid #ccc;
}
.quantity table tr th:last-child{
  border-right: none;
}

.quantity table tr td{
  border-right: 1px solid #cccccc;
  border-top: 1px solid #ccc;
}

.quantity table tr td:last-child{
  border-right: none;
}

.quantity a{
  padding: 10px;
  display: block;
  background-color: #333333;
  color: #ffffff;
  font-size: 12px;
}
.size table{
  border:1px solid #ccc;
}
.size table tr th{
  font-weight: normal;
  background-color: #ecebeb;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.size table tr td{
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

footer p.copy{
  font-size: 10px;
  text-align: center;
}

@media screen and (max-width:896px){

  header {
    margin-bottom: 0;
    border-bottom: none;
    
  }

  header .navigation{
    justify-content: center;
  }

  .contain{
    display: flex;
    flex-direction: column;
  }
  nav {
    overflow-x: scroll;
  }

  .iteminf{
    margin: 0 5%;
  }
  .img{
    margin-bottom: 50px;
  }
}
